.welcome-phrase {
  /* animation: puff-in-center 1s both; */
  color: rgb(32, 193, 214);
  font-family: Chalkduster, sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
  position: relative;
  text-align: center;
  top: 60%;
  width: 100%;
}

.welcome-screen {
  width: 100%;
  height: 70vh;
}

a {
  text-decoration: none;
}

@keyframes puff-in-center {

  0% {
    filter: blur(4px);
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
